.links__link {
  display: flex;

  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin: 0.75em 1.5em;

  .link__img {
    width: 24px;
    height: 24px;
  }

  .link__caption {
    margin-left: 0.3em;

    font-size: 1.2em;
    color: black;

    border-bottom: 1px solid black;
  }

  @media (min-width: 844px) {
    margin: 0 1em;

    width: auto;
  }
}