@import '../../../resources/scss/Variables.scss';

.project-card {
  display: flex;

  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;

  width: 400px;
  height: auto;

  margin: 2em 1em;

  padding-bottom: 10px;

  background-color: white;

  box-shadow: 0 0 5px 0 black;

  .project-card_img {
    width: 400px;
    height: 200px;
  }

  .project-card_caption {
    width: auto;

    padding: 15px 0 5px 0;

    font-size: 1.2em;
    color: map-get($c-t, bla);
  }
}