@import '../../../resources/scss/Variables.scss';

.project-card {
  display: flex;

  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;

  width: 400px;
  height: auto;

  margin: 2em 1em;

  padding-bottom: 10px;

  background-color: white;

  box-shadow: 0 0 5px 0 black;

  transform: scale(1);

  animation-name: card-scale-reverse;
  animation-duration: 0.3s;

  &:hover {
    animation-name: card-scale;
    animation-duration: 0.3s;

    box-shadow: 0 0 8px 0 black;

    transform: scale(1.05);

    cursor: pointer;

    @keyframes card-scale {
      from {
        transform: scale(1);
        box-shadow: 0 0 5px 0 black;

      }
      to {
        transform: scale(1.05);
        box-shadow: 0 0 8px 0 black;
      }
    }
  }

  .project-card__img {
    width: 400px;
    height: 200px;
  }

  .project-card__caption {
    width: auto;

    padding: 15px 0 5px 0;

    font-size: 1.2em;
    color: map-get($c-t, bla);
  }

  @keyframes card-scale-reverse {
    from {
      transform: scale(1.05);
      box-shadow: 0 0 8px 0 black;
    }
    to {
      transform: scale(1);
      box-shadow: 0 0 5px 0 black;
    }
  }
}