//text colors
$c-t: (
  wh: #e4f2e8,
  bla: #00111a,
);

//background colors
$c-bg: (
  def: #e4f2e8,
  def-dark: #ddeee2,
  gradient-1: #155484,
  gradient-2: #0e3858
);

//screen widths
$width: (
  fhd: 1980px
);