@import '../../../resources/scss/Variables.scss';

.modal__overview {
  display: flex;

  flex-flow: column nowrap;

  width: 100%;

  padding: 10px 25px;

  .modal__overview-img {
    width: 400px;
    height: 200px;

    border-radius: 5px;
  }
  .modal__overview-info {
    width: 100%;
    height: 100%;

    padding-left: 10px;

    .overview-info__text {
      width: 100%;

      padding: 15px 0;
      padding-left: 15px;

      border-bottom: 1px dashed black;

      .overview-info__text-a {
        color: map-get($c-bg, gradient-1);

        text-decoration: underline;
      }
    }
  }

  @media  (min-width: 1024px) {
    flex-flow: row nowrap;
  }
}