.black-bg {
  background-color: black;

  color: white;
}

.blue-bg {
  background-color: #1d75b8;

  color: white;
}

.white-bg {
  background-color: white;

  color:black
}

.std-block {
  display: flex;

  flex-direction: row nowrap;

  width: auto;
  height: auto;

  box-sizing: border-box;

  margin: 10px 10px;

  padding: 10px 10px;

  border-radius: 5px;
}

.section-text {
  display: flex;

  flex-flow: column nowrap;
}