.navbar {
  display: flex;

  justify-content: center;
  align-items: center;

  width: auto;
  height: 100%;

  .navbar__link {
    display: flex;

    justify-content: center;
    align-items: center;

    width: auto;
    height: 100%;

    box-sizing: border-box;

    padding: 0 10px;

    list-style: none;

    &:hover {
      animation-duration: 1s;
      animation-name: link-hover;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .link__active {
      display: flex;

      align-items: center;

      height: 100%;

      box-sizing: border-box;

      border-bottom: 5px solid #1d75b8;
    }

    @keyframes link-hover {
      from {
        background-color: rgba(0, 0, 0, 0.0);
      }
    
      to {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}