@import '../resources/scss/Variables.scss';

.app {
  width: 100%;
  height: auto;

  max-width: 100%;

  background-color: map-get($c-bg, def);

  .page {
    width: 100%;
    height: auto;

    background-color: map-get($c-bg, def);
  }
}