.footer {
  display: flex;

  justify-content: center;
  align-items: flex-start;

  width: 100%;

  padding: 1em 0;

  background-color: white;

  box-shadow: 0 0 5px 0 #171615;

  .contact__links {
    width: 100%;
    height: auto;

    .links__header {
      font-size: 2em;
      text-align: center;
    }

    .links__container {
      display: flex;
  
      flex-flow: column nowrap;
  
      justify-content: center;
      align-items: flex-start;

      margin-top: 3em;

      @media (min-width: 844px) {
        flex-flow: row nowrap;
      }
    }
  }

  @media (min-width: 844px) {
    padding: 4em 0;
  }
}